@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Black.eot');
    src: url('../assets/fonts/Lato-Black.woff') format('woff'), url('../assets/fonts/Lato-Black.ttf') format('truetype'),
        url('../assets/fonts/Lato-Black.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Bold.eot');
    src: url('../assets/fonts/Lato-Bold.woff') format('woff'), url('../assets/fonts/Lato-Bold.ttf') format('truetype'),
        url('../assets/fonts/Lato-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Regular.eot');
    src: url('../assets/fonts/Lato-Regular.woff') format('woff'), url('../assets/fonts/Lato-Regular.ttf') format('truetype'),
        url('../assets/fonts/Lato-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MavenPro';
    src: url('../assets/fonts/MavenPro-Regular.eot');
    src: url('../assets/fonts/MavenPro-Regular.woff') format('woff'), url('../assets/fonts/MavenPro-Regular.ttf') format('truetype'),
        url('../assets/fonts/MavenPro-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}


