@font-face {
    font-family: "ProximaNova-Bold";
    src: url(../../src/assets/fonts/ProximaNova-Bold/ProximaNova-Bold.eot) format("eot");
    src: url(../../src/assets/fonts/ProximaNova-Bold/ProximaNova-Bold.svg) format("svg");
    src: url(../../src/assets/fonts/ProximaNova-Bold/ProximaNova-Bold.ttf) format("ttf");
    src: url(../../src/assets/fonts/ProximaNova-Bold/ProximaNova-Bold.woff) format("woff");
}

@font-face {
    font-family: "ProximaNova-RegularIt";
    src: url(../../src/assets/fonts/ProximaNova-RegularIt/ProximaNova-RegularIt.eot) format("eot");
    src: url(../../src/assets/fonts/ProximaNova-RegularIt/ProximaNova-RegularIt.svg) format("svg");
    src: url(../../src/assets/fonts/ProximaNova-RegularIt/ProximaNova-RegularIt.ttf) format("ttf");
    src: url(../../src/assets/fonts/ProximaNova-RegularIt/ProximaNova-RegularIt.woff) format("woff");
}