.slider {
    position: relative;
}

.slick-dots {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 25px;
    left: 5vw;
    font-size: 0;

    button {
        height: 6px;
        width: 6px;
        background-color: #ddd2c5;
        border: none;
        outline: none;
        cursor: pointer;
        margin: 0 3px 0;

        &:hover,
        &:focus {
            outline: none;
        }
    }
}

.slick-active {
    button {
        background-color: #8b8784;
    }
}

.portfolio {
    padding-top: 80px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;

    @media screen and (min-width: 3840px) {
        padding-top: 130px;
        padding-bottom: 70px;
    }

    @media screen and (min-width: 2048px) and (max-width: 3839px) {
        padding-top: 120px;
        padding-bottom: 60px;
    }

    &::after {
        content: "";
        width: 90vw;
        height: 1px;
        background-color: #e4e9eb;
        position: absolute;
        bottom: 12px;
        left: 5vw;
    }

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        &:nth-child(1)::before {
            content: "";
            width: 1px;
            height: 85px;
            background-color: #e4e9eb;
            margin-right: 5px;

            @media screen and (min-width: 3840px) {
                height: 240px;
            }
    
            @media screen and (min-width: 2560px) and (max-width: 3839px) {
                height: 200px;
            }
    
            @media screen and (min-width: 2048px) and (max-width: 2559px) {
                height: 180px;
            }
    
            @media screen and (min-width: 1800px) and (max-width: 2047px) {
                height: 100px;
            }
    
            @media screen and (min-width: 1200px) and (max-width: 1799px) {
                height: 85px;
            }
    
            @media screen and (min-width: 720px) and (max-width: 1199px) {
                height: 60px;
            }
    
            @media screen and (min-width: 480px) and (max-width: 719px) {
                height: 40px;
            }
    
            @media screen and (min-width: 335px) and (max-width: 479px) {
                height: 30px;
            }
    
            @media screen and (max-width: 334px) {
                height: 25px;
            }
        }

        &:nth-child(1)::after {
            content: "";
            width: 1px;
            height: 85px;
            background-color: #e4e9eb;
            margin-left: 5px;

            @media screen and (min-width: 3840px) {
                height: 240px;
            }
    
            @media screen and (min-width: 2560px) and (max-width: 3839px) {
                height: 200px;
            }
    
            @media screen and (min-width: 2048px) and (max-width: 2559px) {
                height: 180px;
            }
    
            @media screen and (min-width: 1800px) and (max-width: 2047px) {
                height: 100px;
            }
    
            @media screen and (min-width: 1200px) and (max-width: 1799px) {
                height: 85px;
            }
    
            @media screen and (min-width: 720px) and (max-width: 1199px) {
                height: 60px;
            }
    
            @media screen and (min-width: 480px) and (max-width: 719px) {
                height: 40px;
            }
    
            @media screen and (min-width: 335px) and (max-width: 479px) {
                height: 30px;
            }
    
            @media screen and (max-width: 334px) {
                height: 25px;
            }
        }

        &:nth-child(2) {
            margin-top: -30px;
        }

        &:nth-child(3) {
            margin-top: -30px;

            &::before {
                content: "";
                width: 1px;
                height: 85px;
                background-color: #e4e9eb;
                margin-right: 5px;

                @media screen and (min-width: 3840px) {
                    height: 240px;
                }
        
                @media screen and (min-width: 2560px) and (max-width: 3839px) {
                    height: 200px;
                }
        
                @media screen and (min-width: 2048px) and (max-width: 2559px) {
                    height: 180px;
                }
        
                @media screen and (min-width: 1800px) and (max-width: 2047px) {
                    height: 100px;
                }
        
                @media screen and (min-width: 1200px) and (max-width: 1799px) {
                    height: 85px;
                }
        
                @media screen and (min-width: 720px) and (max-width: 1199px) {
                    height: 60px;
                }
        
                @media screen and (min-width: 480px) and (max-width: 719px) {
                    height: 40px;
                }
        
                @media screen and (min-width: 335px) and (max-width: 479px) {
                    height: 30px;
                }
        
                @media screen and (max-width: 334px) {
                    height: 25px;
                }
            }

            &::after {
                content: "";
                width: 1px;
                height: 85px;
                background-color: #e4e9eb;
                margin-left: 5px;

                @media screen and (min-width: 3840px) {
                    height: 240px;
                }
        
                @media screen and (min-width: 2560px) and (max-width: 3839px) {
                    height: 200px;
                }
        
                @media screen and (min-width: 2048px) and (max-width: 2559px) {
                    height: 180px;
                }
        
                @media screen and (min-width: 1800px) and (max-width: 2047px) {
                    height: 100px;
                }
        
                @media screen and (min-width: 1200px) and (max-width: 1799px) {
                    height: 85px;
                }
        
                @media screen and (min-width: 720px) and (max-width: 1199px) {
                    height: 60px;
                }
        
                @media screen and (min-width: 480px) and (max-width: 719px) {
                    height: 40px;
                }
        
                @media screen and (min-width: 335px) and (max-width: 479px) {
                    height: 30px;
                }
        
                @media screen and (max-width: 334px) {
                    height: 25px;
                }
            }
        }
    }

    &__img {
        width: 340px;
        height: 380px;
        clip-path: polygon(50% 0%, 100% 22%, 100% 78%, 50% 100%, 0 79%, 0 21%);

        @media screen and (min-width: 3840px) {
            width: 420px;
            height: 460px;
            margin: -15px 20px;
        }

        @media screen and (min-width: 2560px) and (max-width: 3839px) {
            width: 350px;
            height: 390px;
            margin: -10px 20px;
        }

        @media screen and (min-width: 2048px) and (max-width: 2559px) {
            width: 340px;
            height: 380px;
            margin: -10px 18px;
        }

        @media screen and (min-width: 1800px) and (max-width: 2047px) {
            width: 200px;
            height: 220px;
            margin: 2px 10px;
        }

        @media screen and (min-width: 1200px) and (max-width: 1799px) {
            width: 150px;
            height: 170px;
            margin: 3px 7px;
        }

        @media screen and (min-width: 720px) and (max-width: 1199px) {
            width: 125px;
            height: 130px;
            margin: 6px;
        }

        @media screen and (min-width: 480px) and (max-width: 719px) {
            width: 80px;
            height: 85px;
            margin: 9px 4px;
        }

        @media screen and (min-width: 335px) and (max-width: 479px) {
            width: 55px;
            height: 60px;
            margin: 11px 3px;
        }

        @media screen and (max-width: 334px) {
            width: 45px;
            height: 50px;
            margin: 12px 3px;
        }
    }
}
