.products {
    background: $white;
    width: 100%;
    position: relative;

    &::before {
        content: "";
        width: 700px;
        height: 135px;
        position: absolute;
        left: -300px;
        bottom: 300px;
        z-index: 600;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../../src/assets/images/decor.png);        
    }

    &::after {
        content: "";
        width: 1200px;
        height: 130px;
        position: absolute;
        top: 260px;
        right: -750px;
        z-index: 600;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        background-image: url(../../src/assets/images/Furnit.png);
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        &::before {
            content: "";
            width: 190px;
            height: 260px;
            position: absolute;
            top: -100px;
            left: 0;
            z-index: 600;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(../../src/assets/images/f.png);
        }

        &::after {
            content: "";
            width: 240px;
            height: 260px;
            position: absolute;
            top: 600px;
            right: 0px;
            z-index: 600;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(../../src/assets/images/d.png);
        }
    }

    &__item_left {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 250px;
        margin-top: 150px;
        position: relative;
        flex-wrap: wrap;

        .products__number {
            left: 0;
        }
    }

    &__item_right {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 200px;
        position: relative;
        flex-wrap: wrap;

        .products__number {
            right: 0;
        }
    }

    &__img {
        width: 600px;
        height: auto;
        max-width: 630px;
    }

    &__text {
        display: flex;
        flex-direction: column;
    }

    &__number {
        font-size: 36px;
        letter-spacing: 3px;
        color: $black;
        font-family: "Proxima Nova Bold";
        position: absolute;
        bottom: 0;

        &::after {
            content: "";
            width: 4px;
            height: 51px;
            background-color: #a9946e;
            position: absolute;
            top: 100px;
            left: 20px;
        }
    }
}

.wrap {
    max-width: 1226px;
    margin: 0 auto;
}

.infobox__title {
    @include H3-text;
    position: relative;
}

.infobox__title.left {

    &::before {
        content: "";
        width: 151px;
        height: 2px;
        background-color: $black;
        position: absolute;
        top: 25px;
        left: -180px;
    }
}

.infobox__title.right {

    &::before {
        content: "";
        width: 151px;
        height: 2px;
        background-color: $black;
        position: absolute;
        top: 25px;
        right: -180px;
    }
}

.infobox__desc {
    @include paragraph-text;
    position: relative;
    margin-top: 30px;
}

.infobox__desc.left {

    &::before {
        content: "";
        width: 44px;
        height: 4px;
        background-color: #a9946e;
        position: absolute;
        top: 5px;
        left: -72px;
    }
}

.infobox__desc.right {

    &::before {
        content: "";
        width: 44px;
        height: 4px;
        background-color: #a9946e;
        position: absolute;
        top: 5px;
        right: -72px;
    }
}

.infobox__btn {
    width: 200px;
    height: 30px;
    background-color: inherit;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
    color: $black;
    font-family: "Proxima Nova Bold";
    border: none;
    text-align: left;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 44px;
        height: 2px;
        background-color: #a9946e;
        bottom: 0;
        left: 0;
    }
}

.infobox__btn.right {
    align-self: flex-end;
    text-align: right;

    &::after {
        left: 40px;
    }
}

.infobox_left {
    text-align: left;
}

.infobox_right {
    text-align: right;
}
