.quality {
    width: 100%;
    background-color: $white;
    position: relative;
    padding-bottom: 140px;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;

        &::after {
            content: "";
            width: 305px;
            height: 290px;
            background-image: url(../../src/assets/images/v.png);
            background-size: cover;
            position: absolute;
            right: 80px;
            bottom: -325px;
        }
    
    }

    &__title {
        @include H3-text;
        position: relative;

        &::after {
            content: "";
            width: 44px;
            height: 4px;
            background-color: $beige;
            position: absolute;
            bottom: -20px;
            right: calc(50% - 22px);
        }
    }

    &__text {
        @include paragraph-text;
        text-align: center;
        margin-top: 60px;
    }

    &__video {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item:nth-child(2) {
        margin-left: -60px;
        margin-right: -60px;
    }

    &__item {
        position: relative;

        &::before {
            content: "";
            width: 190px;
            height: 190px;
            border-radius: 50%;
            border: 1px solid rgba($black, 0.2);
            position: absolute;
            left: 55px;
            top: 55px;
        }
    }
}

.video-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__vid {
        width: 300px;
        height: 300px;
        clip-path: circle(28% at 50% 50%);
        position: relative;
    }

    &__btn {
        position: absolute;
        top: 125px;
        border: none;
        width: 50px;
        height: 50px;
        border-radius: 34px;
        background-color: rgba($beige, 0.7);

        &:hover {
            transform: scale(1.2, 1.2);
            background-color: rgba($beige, 1);
        }
    }

    &__play {
        margin-left: 7px;
        margin-top: 4px;
        width: 17px;
        height: 20px;
    }

    &__title {
        font-size: 16px;
        letter-spacing: 1px;
        color: $black;
        font-family: "Proxima Nova";
        text-align: center;
        position: relative;
        margin-top: -35px;

        &::before {
            content: "";
            width: 25px;
            height: 1px;
            background-color: $beige;
            position: absolute;
            top: -10px;
            left: 40%;
        }
    }
}
